.root {
    -fx-background-color: #EBE8E8;
}

HBox {
    -fx-background-color: #402E27;
}

VBox {
    -fx-background-color: #402E27;
}

.button {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-text-fill: #402E27;
    -fx-background-color: #EBE8E8;
    -fx-border-color: #615C5C;
}

.button:pressed {
    -fx-background-color: #d1ada5;
}

.button:hover {
    -fx-border-color: #0D0D0D;
    -fx-background-color: #B4D9CB;
    -fx-text-fill: #0D0D0D;
}

.button:pressed {
    -fx-background-color: #D9BFC9;
}
